/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');

/* !! FORM */
.form {
  margin-top: 36px;

  display: flex;
  justify-content: center;
  gap: 8px;

  margin-bottom: 32px;
}
.search-input {
  display: flex;

  border: 1px solid #808080;
  border-radius: 4px;
  width: 272px;
  height: 40px;
  padding: 8px 16px;
  transition: 300ms ease-in-out;
}
.search-input:hover {
  border: 1px solid #000;
  border-radius: 4px;
  outline: none;
}
.search-input:focus {
  border: 1px solid #4e75ff;
  border-radius: 4px;
  outline: none;
}
.search-input::placeholder {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #808080;
}

.search-button {
  font-family: 'Montserrat', sans-serif;
  border-radius: 8px;
  padding: 8px 16px;
  width: 91px;
  height: 40px;
  background-color: #4e75ff;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  outline: none;
  border: none;
}

.search-button:hover {
  background-color: #6c8cff;
}

/* !! Loader */
.loader {
  width: 48px;
  height: 48px;

  border: 5px solid #ccc;
  border-bottom-color: #4e75ff;
  border-radius: 50%;

  display: none;

  animation: rotation 1s linear infinite;

  margin: 20px auto;
}

.loader.is-visible {
  display: block;
}

@keyframes rotation {
  100% {
    transform: rotate(360deg);
  }
}

/* !! GALLERY */

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  gap: 24px;

  list-style: none;

  padding: 0;
  margin: 0;
}

.gallery-item {
  width: 360px;

  border: 1px solid #808080;

  background-color: #fff;

  overflow: hidden;
}

.gallery-item a {
  display: block;
}

.gallery-image {
  width: 100%;
  height: 200px;

  display: block;

  object-fit: cover;

  transition: transform 250ms ease;
}

.gallery-image:hover {
  transform: scale(1.03);
}

/* !! INFO */

.info {
  display: flex;
  justify-content: space-around;
  align-items: center;

  padding: 4px 20px;
}

.info p {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 0;

  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;

  color: #2e2f42;
}

.info b {
  margin-bottom: 4px;

  font-weight: 600;
}
